.order-spot{
  margin: 30px 0;
  width: 70vw;
}
.agreement{
display: flex;
flex-direction: column;
font-size: 20px;
}

.customer{
margin-bottom: 30px;
display: flex;
justify-content: center;
}

.customer-title{
font-weight: bold;
margin: auto 2vw auto 0;

}

.customer-text{
height: 50px;
padding: 0 10px;
width: calc(100% - 40vw);
}

.employee{
text-align: center;
font-weight: bold;
}

.agreement-btn{
  background-color: red;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  padding: 0.5vh 5vw;
  font-size: 25px;
  border-radius: 5px;
  border: solid 1px black;
}
