header{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: orange;
  background: linear-gradient(to bottom,white,orange);
  text-align: center;
}

.rawspot-icon{
  filter: drop-shadow(7px 7px 3px white);
  width: 650px;
  transition: 0.5s;
}

@media(max-width:700px){
  .rawspot-icon{
  width: calc(100% - 50px);
  }
}