header{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: orange;
  background: linear-gradient(to bottom,white,orange);
}

.rawspot-icon{
  filter: drop-shadow(7px 7px 3px white);
}