.sub-title{
  background-color: orange;
  width: 100vw;
  line-height: 35px;
}


.top-lists{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 3px black;
}

.top-title{
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color:white;
  font-weight: bold;
  transition: 0.5s;
}

.top-title:hover{
  transition: 0.5s;
  font-size: 1.1em;
  text-shadow: 0px 3px 3px black;
  color: white;
}

.top-title:active{
  text-shadow: 0 1px 1px black;
  transition: 0s;
}


.nosign-title{
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.top-title-nosign{
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color:white;
  border: 2px solid white;
  box-shadow: 3px 3px 5px black;
  margin: 20px 20px 70px 20px;
  transition: 0.5s;
  padding: 5px;
}

.top-title-nosign:hover {
  font-weight: bold;
  transition: 0.5s;
  box-shadow: 0px 2px 2px black;
  font-size: 1.1em;
  text-shadow: 0 3px 4px black;
}

.top-title-nosign:active{
  box-shadow: 0 1px 1px black;
  text-shadow: 0 1px 2px black;
  transition: 0s;
}

@media (max-width: 810px){
  .top-title{
    width: 25vw;
  }
}
