.sub-title{
  background-color: orange;
  width: 100vw;
}


.top-lists{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 3px black;
  
}

.top-title{
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color:white;
  font-weight: bold;
}

.nosign-title{
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.top-title-nosign{
  display: block;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color:white;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 2px 2px 3px black;
  margin: 20px 20px 100px 20px;
}