<footer>
  <div class='footer-contents'>
      <ul class='footer-list'>
        <li class='footer-link' id = 'guide_btn'>ご利用ガイド</li>
        <li class='footer-link' id = 'inquiry_btn'>お問合せ</li>
        <li class='footer-link' id = 'request_btn'>ご要望</li>
      </ul>
  </div>
  <div class='footer-icon'>
  <%= link_to image_tag('logo_word_white.png', class:'rawspot-icon-white', id:'animation_switch'), '/' %>
  </div>
</footer>

<div id="grayback">
</div>
<div id = 'guide_message'>
  <p><b>rawspotとは？？</b><br>
  当サイト(rawspot)は住宅営業マンのための土地情報共有サービスです。<br>
  売地の場所や写真、FAXなどを簡単に社員同士で共有できます。
  営業マンであれば「あそこのエリアで良い物件を誰か知らないかな...」と考えたことはあるはずです。
  そんな不毛な悩みを解消するために、良い売地を見つけたら皆さんで共有し合いましょう。</p>
  <p><b>本サービスをご利用する前に</b><br>
  ・新規登録またはログインしてお使いください。<br>
  &emsp;(お試しで使用する場合は下記アカウントでもログインできます。<br>
  &emsp;メールアドレス：test@com , パスワード：111aaa)<br>
  ・上部もしくは下部のロゴをクリックすると、トップページに戻ります。</p>
  <p><b>物件を登録する</b><br>
  ・トップページ画面右上にある「売地を登録する」から投稿してください。<br>
  ・項目にない事項は、備考欄にてご記入願います。</p>
  <p><b>物件を編集、削除する</b><br>
  ・トップページ画面左上のマイページで、自身の投稿物件を確認できます。<br>
  ・物件の詳細画面の「編集・削除」ボタンから作業を行ってください。<br>
  ・以前投稿済みである画像のプレビューは表示されません。</p>
  <p><b>お気に入りの確認</b><br>
  ・トップページ画面左上のマイページで、お気に入り情報を確認できます。</p>
  
  入手した土地情報を皆さんで共有しましょう。<br>
  ベテラン社員は注意喚起も踏まえて、コメントや備考欄にてご指導の程、お願いします。<br>
  <span>【備考】画面下部のロゴにカーソルを置き続けると...</span>
</div>
<div id='inquiry_message'>
お問合せ先<br>
調整中・・・
</div>
<div id='request_message'>
ご要望先<br>
調整中・・・
</div>