<footer>
  <div class='footer-contents'>
      <ul class='footer-list'>
        <li><%= link_to 'ご利用ガイド', '#', class: 'footer-link' %> </li>
        <li><%= link_to 'お問合せ', '#', class: 'footer-link' %> </li>
        <li><%= link_to 'ご要望', '#', class: 'footer-link' %> </li>
      </ul>
  </div>
  <div class='footer-icon'>
  <%= link_to image_tag('logo_word_white.png', class:'rawspot-icon',size: '636x180'), '/' %>
  </div>
</footer>