<footer>
  <div class='footer-contents'>
      <ul class='footer-list'>
        <li class='footer-link' id = 'guide_btn'>ご利用ガイド</li>
        <li class='footer-link' id = 'inquiry_btn'>お問合せ</li>
        <li class='footer-link' id = 'request_btn'>ご要望</li>
      </ul>
  </div>
  <div class='footer-icon'>
  <%= link_to image_tag('logo_word_white.png', class:'rawspot-icon-white', id:'animation_switch'), '/' %>
  </div>
</footer>

<div id="grayback">
</div>
<div id = 'guide_message'>
  当サイトは住宅営業の、住宅営業による、住宅営業のための土地情報共有サービスです。  <br>
  本サービスをご利用するにあたって<br>
  ・新規登録またはログインしないと使うことはできません。<br>
  ・上部もしくは下部のロゴをクリックすると、トップページに戻ります。<br>
  物件を登録する<br>
  ・トップページ画面右上にある「売地を登録する」から投稿してください。<br>
  ・現地写真は5枚まで登録可能ですが、容量を小さくしてから投稿しましょう。<br>
  ・項目にない事項は、備考欄にてご記入願います。<br>
  物件を編集、削除する<br>
  ・トップページ画面左上のマイページで、自身の投稿物件を確認できます。<br>
  ・物件の詳細画面の「編集・削除」ボタンから作業を行ってください。<br>
  ・以前投稿済みである画像のプレビューは表示されない仕様です。<br>
  お気に入りの確認<br>
  ・トップページ画面左上のマイページで、お気に入り情報を確認できます。<br>
  <br>
  入手した土地情報をみんなで共有しましょう。<br>
  ベテラン社員は注意喚起も踏まえて、コメントや備考欄にてご指導の程、お願いいたします。<br>
  <span>【備考】画面下部のロゴにカーソルを置き続けると...</span>
</div>

<div id='inquiry_message'>
お問合せ先<br>
調整中・・・
</div>

<div id='request_message'>
ご要望先<br>
調整中・・・
</div>