/* 一覧表示 */

.spot-date{
  background-color: white;
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  text-decoration: none;
}

.spot-link{
  text-decoration: none;
  color: black;
}

.spot-date li span{
  color:gray;
}

.spot-date > li{
  border: 1px solid;
  font-size: 20px;
}

.left-date{
  width: 25%;
  position: relative;
}

.photo{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.center-date{
  width: 50%;
  margin: 0 -1px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.explanation-date{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.right-date{
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.company-date{
  color: darkgreen;
}

.price{
  color: red;
}

.price b{
  font-size: 20px;
}

.unit-of-money{
  color: red;
}

.spot{
  position: relative;
}

.red-band {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: crimson;
  opacity: 0.8;
  color:white;
  font-size: 30px;
  font: bold;
}

.band-time{
  font-size: 15px;
}

.blue-band {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: blue;
  opacity: 0.8;
  color:white;
  font-size: 30px;
  font: bold;
}

.close-title{
  letter-spacing: 30px;
  padding-left: 30px;
}

.band-line{
  display: inline-block;
  padding: 0 7px;
}

.close-name{
  font-size: 15px;
}