.spot-main{
  width: 70vw;
  margin:30px auto 40px;
  font-size: 16px;
}

.new-spot-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* 地図 */
#map{
  height: 400px;
  width: 100%;
  margin-bottom:25px ;
}

.map-btn{
  display: block;
  margin: 0 auto;
  padding:7px 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.one-spot{
display: flex;
justify-content: space-between;
margin: 15px 0;
}


.weight-bold-text{
  font-weight: bold;
  margin: auto 0;
}

.spot-text{
  width: calc(70vw - 200px);
  padding: 12px 10px;
  box-sizing: border-box;
  display: block;
  height: 50px;
}

.two-spot{
  display: flex;
  position: relative;
  margin: 12px 0;
}

.spot-text-unic, .select-box{
  display: block;
  width: calc(35vw - 180px);
  padding: 12px 10px;
  box-sizing: border-box;
  text-align: right;
  height: 50px;
}

.one-wrap{
  display: flex;
  position: absolute;
  right: 55%;
}

.one-wrap-unic{
  display: flex;
  position: absolute;
  right: calc(55% - 16px);
}

.two-wrap-unic{
  display: flex;
  position: absolute;
  right: -32px;
}
.one-title{
  font-weight: bold;
  margin: 15px 0;
}

.two-title{
  font-weight: bold;
  margin: auto 0;
  position: absolute;
  left: 55%;
  margin: 15px 0;
}

.two-wrap{
  display: flex;
  position: absolute;
  right: 0;
}

.unic{
  margin: auto 0;
}

.file{
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: left;
}

.weight-bold-file{
  width: 150px;
  font-weight: bold;
  margin: auto 0;
}

.click-upload{
  width: 280px;
}

.click-upload>p{
  margin-bottom: 10px;
}

.spot-image{
  width: 280px;
}

#previews{
text-align: center;
}

.preview-image{
  margin-top: 10px;
  max-width: 500px;
  width:100%;
}

.image-delete-button {
  max-width: 500px;
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin: -6px auto 0 auto;
}

.weight-bold-text>span{
  font-weight: normal;
  margin-left: 5px;
}

.spot-text-sentence{
  width: 100%;
  height: 100px;
  resize: none;
  padding: 12px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.spot-btn{
  display: block;
  box-sizing: border-box;
  width: 80%;
  height: 50px;
  background-color: rgb(0, 158, 0);
  color: white;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}  

.back-btn{
  display: block;
  text-decoration: none;
  width: 60%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(165, 165, 165);
  color: white;
  padding-top: 7px;
  box-sizing: border-box;
  margin: 20px auto;
}

@media(max-width:599px){
  .spot-main{
    width: 100vw;
  }
}