.spot-main{
  width: 70vw;
  margin:30px auto 40px;
  font-size: 16px;
}

.new-spot-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* 地図 */
#map{
  height: 400px;
  width: 100%;
  margin-bottom:25px ;
}

.map-btn{
  display: block;
  margin: 0 auto;
  padding:7px 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.one-spot{
display: flex;
justify-content: space-between;
margin: 15px 0;
}


.weight-bold-text{
  font-weight: bold;
  margin: auto 0;
}

.spot-text{
  width: calc(70vw - 200px);
  padding: 12px 10px;
  box-sizing: border-box;
  display: block;
  height: 50px;
}

.two-spot{
  display: flex;
  position: relative;
  margin: 12px 0;
}

.spot-text-unic, .select-box{
  display: block;
  width: calc(35vw - 180px);
  padding: 12px 10px;
  box-sizing: border-box;
  text-align: right;
  height: 50px;
}

.one-wrap{
  display: flex;
  position: absolute;
  right: 55%;
}

.one-wrap-unic{
  display: flex;
  position: absolute;
  right: calc(55% - 16px);
}

.two-wrap-unic{
  display: flex;
  position: absolute;
  right: -32px;
}
.one-title{
  font-weight: bold;
  margin: 15px 0;
}

.two-title{
  font-weight: bold;
  margin: auto 0;
  position: absolute;
  left: 55%;
  margin: 15px 0;
}

.two-wrap{
  display: flex;
  position: absolute;
  right: 0;
}

.unic{
  margin: auto 0;
}

.file{
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: left;
}

.weight-bold-file{
  width: 150px;
  font-weight: bold;
  margin: auto 0;
}

.click-upload{
  width: 280px;
}

.click-upload>p{
  margin-bottom: 10px;
}

.spot-image{
  width: 280px;
}

#previews{
text-align: center;
}

.preview-image{
  margin-top: 10px;
  max-width: 500px;
  width:100%;
}

.image-delete-button {
  max-width: 500px;
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin: -6px auto 0 auto;
}

.weight-bold-text>span{
  font-weight: normal;
  margin-left: 5px;
}

.spot-text-sentence{
  width: 100%;
  height: 100px;
  resize: none;
  padding: 12px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.spot-btn{
  display: block;
  box-sizing: border-box;
  width: 80%;
  height: 50px;
  background-color: rgb(0, 158, 0);
  color: white;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}  

.back-btn{
  display: block;
  text-decoration: none;
  width: 60%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(165, 165, 165);
  color: white;
  padding-top: 7px;
  box-sizing: border-box;
  margin: 20px auto;
}

/* 投稿中の待機画面 */
#animation_message{
  display: none;
  text-align: center;
  position: fixed;
  height: 200px;
  width: 200px;
  top:calc(50% - 200px/2 - 50px);
  left:calc(50% - 200px/2 + 10px);
  color: white;
  font-weight: bold;
  z-index: 1020;
}

#animation{
  display: none;
  margin:10px;
  animation: swing linear 1s infinite;
  transform-origin: 65px 160px;
  float:left;
  position: fixed;
  height: 200px;
  width: 200px;
  top:calc(50% - 200px/2);
  left:calc(50% - 200px/2);
  z-index: 1000;
}

@-webkit-keyframes swing {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
} 
@-ms-keyframes swing {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
} 

#animation_marker{
  display: none;
  margin:10px;
  animation: swing_marker linear 1s infinite;
  transform-origin: 65px 160px;
  float:right;
  position: fixed;
  height: 200px;
  width: 200px;
  top:calc(50% - 200px/2);
  left:calc(50% - 200px/2);
  z-index: 1010;
}

@-webkit-keyframes swing_marker {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(-20deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(20deg); }
  100% { -webkit-transform: rotate(0deg); }
}    
@-ms-keyframes swing_marker {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(-20deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(20deg); }
  100% { -webkit-transform: rotate(0deg); }
}    


@media(max-width:850px){
  .spot-main{
    width: 100vw;
  }
  .spot-text{
    width: calc(100vw - 200px);
  }
  .spot-text-unic, .select-box{
    width: calc(50vw - 180px);
  }
}