.show-spot{
  width: 70vw;
  margin: 0 auto;
  font-size: 20px;
}

.photo-size{
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.show-photo{
  width: 100%;
  max-height: 80vh;
  height: 100%;
  object-fit: contain;
  background-color: gainsboro;
}

table{
  table-layout: fixed;
  width: 100%;
}

th,td{
  background-color: white;
  border-collapse: collapse;
  border:1px solid black;
  padding: 4px;
}

th{
  background-color: rgb(255, 255, 187);
  width: 130px;
}

.margin-table{
  margin: -1px auto;
}

.photo-table{
  margin: 25px 0;
}

.small-photo{
  padding: 0;
  height: 100%;
  width: 20%;
  text-align: center;
}

.small-image{
  width: 100%;
  max-height: 150px;
  height: 100%;
  object-fit: contain;
  vertical-align: bottom;
}

/* ファックスボタン */
.fax-btn{
  text-decoration: none;
  background-color: rgb(255, 255, 187);
  border-radius: 5px;
  border: solid 1px black;
  display: inline-block;
  padding: 0 5px;
  margin-left: 20px;
  font-weight: bold;
  color: black;
}

.fax-btn:hover{
  background-color: rgb(235, 235, 117);
}

/* お気に入りボタン */

.show-favorite{
  text-decoration: none;
  color: yellow;
  background-color: black;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  margin:6px 0px;
}

.show-not-favorite{
  text-decoration: none;
  color: black;
  background-color: yellow;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  margin:6px 0px;
  border: solid 1px black;
}

/* 編集、契約、取り扱い不可ボタン */

.show-btn{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.gray-btn, .red-btn, .blue-btn{
  color: white;
  padding: 5px 8vw;
  margin:20px 3vw;
  text-decoration: none;
  display:inline-block;
  font-size: 25px;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 0 2px 2px gray;
}

.gray-btn:hover, .red-btn:hover, .blue-btn:hover, .spot-btn:hover, .back-btn:hover, .delete-btn:hover, .agreement-btn:hover, .close-btn:hover{
opacity: 0.8;
}

.gray-btn:active, .red-btn:active, .blue-btn:active, .spot-btn:active, .back-btn:active, .delete-btn:active, .agreement-btn:active, .close-btn:active{
box-shadow: none;
transform: translateY(2px);
}



.gray-btn{
  background-color: darkgray;
}

.red-btn{
  background-color: red;
}

.blue-btn{
  background-color:skyblue;
}

/* コメント一覧 */

.comment{
  word-wrap: break-word;
}

.comment-time{
  display: inline-block;
  font-size: 13px;
  color: grey;
}

.comment-text{
  width:calc(100% - 140px) ;
  resize: none;
  padding: 10px 10px;
  height: 50px;
  box-sizing: border-box;
}

.comment-submit{
  justify-content: center;
  vertical-align: top;
  height: 50px;
  width: 130px;
}

.space{
  height: 20px;
}
.comment-form{
  margin-bottom: 20px;
}

@media(max-width :850px){
  .show-spot{
    width: 100vw;
  }
}