.close{
  margin: 50px 0;
  width: 30vw;
  text-align: center;
}

.close h2{
  margin-bottom: 50px;
}

.close-btn{
  background-color:skyblue;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  padding: 0.5vh 5vw;
  font-size: 25px;
  border-radius: 5px;
  border: solid 1px black;
}

.close-text{
  display: none;
}